
body {
	background-color:mistyrose;
	margin:100px 20px 20px 20px;
}


h1 {
	font-family:Cursive, Times, Serif;
	text-align:center;
}


h2 {
	font-family:Cursive, Times, Serif;
}


p {
	font-family:Cursive, Times, Serif;
	text-align:center;
}

ul {
	font-family:Cursive, Times, Serif;
}